<!DOCTYPE html>
<html>
    <head>
        <title>Blitzart 16</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="add.css">
    </head>
    <body>
        <div class="add">
            <form action="/add" method="post" enctype='multipart/form-data'>
                <input type="text" id="title" name="title" placeholder="titolo" autocomplete="off"><br>
                <input type="text" id="description" name="description" placeholder="descrizione" autocomplete="off"><br>
                <input type="text" id="author" name="author" placeholder="autore" autocomplete="off"><br>
                <input type="text" id="class" name="class" placeholder="classe"><br>
                <input type="file" id="file" name="media"><br>
                <input type="submit" id="submit" value="invia" class="submit">
            </form>
        </div>
        <!-- <script src="add.js"></script> -->
    </body>
</html>