<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Blitzart 16</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <div id="imgOnTop" class="hidden" style="display:none;">
                <div id="artwork"></div>
                <div class="info">
                    <span class="title">Fox</span><br>
                    <span class="author">John Doe</span>
                    <span class="class">3ªO</span><br>
                    <span class="class">Image of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snowImage of a fox with snow</span>
                </div>
                <button id="close">close</button>
            </div>
            <div id="shelves">
                
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>