<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Blitzart 16</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
        <link rel="icon" href="https://scaling.spaggiari.eu/VEIA0001/favicon/7425.png&rs=%2FtccTw2MgxYfdxRYmYOB6HjkoZcUOGTiYi6QRxuVV5sOGTp63rmnr%2BRTYVh7%2BFO%2FGwXtspJHA9p4BXfBXCcE%2BNfMTv1f63V8Ma7anOoEpmr1vY686jQADlCXWoD41fhLPKDeb5KzEXlN3xj5VLED2HK76ruGkCrzhAMWUaH%2BXdg%3D">
        <script src="https://kit.fontawesome.com/2cd6389f66.js" crossorigin="anonymous"></script> 
    </head>
    <body>
        <div class="header">
            <h1>Blitzart 16</h1>
            <p class="description">Officia excepteur ipsum nostrud qui irure anim laborum. Officia quis aliqua et aliquip non magna. Occaecat aliqua qui adipisicing enim. Est laborum aute reprehenderit ipsum sunt duis laboris cillum. Nostrud adipisicing ipsum tempor in duis deserunt. Irure ex sunt qui ad labore.</p>
            <img src="https://scaling.spaggiari.eu/VEIA0001/thumbnail/7769.png&rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="codici (di)versi">
            <i class="fas fa-chevron-down arrow"></i>
        </div>
        <% if (media) { %>
            <div class="top-media">
                <div class="info">
                    <h1><%= media.title %></h1>
                    <p><%= media.description %></p>
                    <p><%= media.author %></p>
                    <p><%= media.class %></p>
                </div>
                <% if (["mp4", "mov"].includes(media.ext)) { %>
                    <video id="topMedia" controls>
                        <source src="<%= media.url %>" type="video/<%= media.ext %>">
                    </video>
                <% } else if (["jpg", "png", "jpeg", "gif"].includes(media.ext)) {%>
                    <img src="<%= media.url %>" id="topMedia">
                <% } else if (["mp3", "wav", "ogg"].includes(media.ext)) {%>
                    <audio id="topMedia" controls>
                        <source src="<%= media.url %>" type="audio/<%= media.ext %>">
                    </audio> 
                <% } else { %>
                    <p><a href="<%= media.url %>">scarica</a> <em>formato non supportato per la preview</em></p>
                <% } %>
            </div>
        <% } %>
        <div class="container">
            <div id="shelves"></div>
        </div>
        <footer>
            <a href="https://github.com/ssebastianoo/blitzart"><i class="fab fa-github"></i></a>
        </footer>
        <script src="script.js"></script>
    </body>
</html>