<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Blitzart 16</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="login.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
        <link rel="icon" href="https://scaling.spaggiari.eu/VEIA0001/favicon/7425.png&rs=%2FtccTw2MgxYfdxRYmYOB6HjkoZcUOGTiYi6QRxuVV5sOGTp63rmnr%2BRTYVh7%2BFO%2FGwXtspJHA9p4BXfBXCcE%2BNfMTv1f63V8Ma7anOoEpmr1vY686jQADlCXWoD41fhLPKDeb5KzEXlN3xj5VLED2HK76ruGkCrzhAMWUaH%2BXdg%3D">
        <script src="https://kit.fontawesome.com/2cd6389f66.js" crossorigin="anonymous"></script> 
    </head>
    <body>
        <div class="login">
            <form action="/login?redirect=<%= redirect %>" method="post" enctype='multipart/form-data'>
                <input type="username" name="username" placeholder="username" required><br>
                <input type="password" name="password" placeholder="password" required><br>
                <input type="submit" value="login">
            </form>
        </div>
    </body>
</html>