<!DOCTYPE html>
<html>
    <head>
        <title>Blitzart 16</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="manage.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Blitzart 16</h1>
        <div class="add">
            <form action="/add" method="post" enctype='multipart/form-data' id="form">
                <input type="text" id="title" name="title" placeholder="titolo" autocomplete="off" required><br>
                <input type="text" id="description" name="description" placeholder="descrizione" autocomplete="off" required><br>
                <input type="text" id="author" name="author" placeholder="autore" autocomplete="off" required><br>
                <input type="text" id="class" name="class" placeholder="classe" required><br>
                <input type="file" id="file" name="media" accept="image/png,image/jpeg,image/gif,audio/mp3,audio/wav,video/mp4,video/mov" required><br>
                <input type="submit" id="submit" value="invia" class="submit">
                <div class="loader" id="loader" style="display:none">Loading...</div>
            </form>
        </div>
        <hr>
        <div class="medias">
            <% medias.forEach(media => { %>
                <div class="media">
                    <a href="/?media=<%= media.id %>">
                        <% if (["mp4", "mov"].includes(media.ext)) { %>
                            <video class="manage-media" controls>
                                <source src="<%= media.url %>" type="video/<%= media.ext %>">
                            </video>
                        <% } else if (["jpg", "png", "jpeg", "gif"].includes(media.ext)) {%>
                            <img class="manage-media" src="<%= media.url %>">     
                        <% } else if (["mp3", "wav", "ogg"].includes(media.ext)) {%>
                            <audio class="manage-media" controls>
                                <source src="<%= media.url %>" type="audio/<%= media.ext %>">
                            </audio> 
                        <% } else { %>
                            <p><em>formato non supportato per la preview</em></p>
                        <% } %>
                    </a>
                    <div class="info">
                        <form action="/edit/<%= media.id %>" method="post" enctype='multipart/form-data'>
                            <input type="text" name="title" value="<%= media.title %>" placeholder="titolo" required><br>
                            <input type="text" name="description" value="<%= media.description %>" placeholder="descrizione" required><br>
                            <input type="text" name="author" value="<%= media.author %>" placeholder="autore" required><br>
                            <input type="text" name="class" value="<%= media.class %>" placeholder="classe" required><br>
                            <input type="submit" value="modifica">
                        </form>
                        <form action="/delete/<%= media.id %>">
                            <input type="submit" value="elimina">
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
        <script type="text/javascript">
            const form = document.getElementById('form');
            var loader = document.getElementById('loader');
            var submit = document.getElementById('submit');
            form.addEventListener('submit', () => {
                submit.style.display = 'none';
                loader.style.display = null;
            })
        </script>
    </body>
</html>