<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Blitzart 16</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../media.css">
    </head>
    <body>
        <div class="container">
            <% if (error) { %>
                <h1>media not found</h1>
            <% } else { %>
                <div class="info">
                    <h1><%= media.title %></h1>
                    <p><%= media.description %></p>
                    <p><%= media.author %></p>
                    <p><%= media.class %></p>
                </div>     
                <img src="<%= media.url %>">           
            <% } %>
        </div>
    </body>
</html>