@font-face {
    font-family: 'helveticaneue';
    src: url('helveticaneue.ttf');
}

body {
    background: #222831;
    color: #DDDDDD;
    font-family: 'helveticaneue';
}

.container {
    text-align: center;
}

.info {
    margin-top: 30px;
    margin-bottom: 40px;
}

.add {
    text-align: center;
    margin-top: 50px;
}

.add input {
    margin-top: 20px;
    padding: 7px 7px;
    border: none;
    outline: none;
    background: #30475E;
    color: #DDDDDD;
    border-radius: 5px;
    font-size: 150%;
}

.submit {
    cursor: pointer;
}