@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
  --neon-color: #fffa78;
  --cyan: #028cab;
}

html,
body {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-repeat: no-repeat;
  background-color: black;
}