@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
}

header {
    min-height: 40vh;
    margin-bottom: 2vh;

    .top {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

        .title {
            h1 {
                font-size: 55px;
                margin: 0 0 0 20px;
            }
        }

        .logo {
            img {
                width: 70px;
            }
        }
    }

    .description {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 20px;
            max-width: 600px;
            margin: 0 20px ;
        }
    }
}

.medias {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    min-height: 50vh;

    img {
        z-index: 999;
        display: block;

        &:not(.active) {
            height: 30vh;
        }
        
        margin-left: 20px;
        transition: height 0.5s;

        &:last-child {
            margin-right: 20px;
        }
    }

    .active {
        height: 40vh;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
}

.info {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .sections {

        .text {
            max-height: 15vh;
        }

        .section {
            display: flex;
            justify-content: space-between;

            h1 {
                margin: 0;
            }

            p {
                margin: 1vh 0;
            }
        }
    }

    img {
        height: 40vh;
    }
}

@media (max-width: 768px) {
    .info {
        img {
            height: 25vh;
        }
    }
}