@font-face {
    font-family: 'helveticaneue';
    src: url('helveticaneue.ttf');
}

:root {
    --neon-color: #fffa78;
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    color: white;
    font-family: 'helveticaneue';
}

.shelf {
    display: flex;
    overflow: hidden;
    align-items: center;
}

.media {
    height: 300px;
    transition-duration: .2s;
}

.media:hover {
    border: 2px solid var(--neon-color);
    height: 310px;
    cursor: pointer;
    box-shadow: 0 0 2rem var(--neon-color), 0 0 0.8rem var(--neon-color), 0 0 2.8rem var(--neon-color), inset 0 0 1.3rem var(--neon-color);
    z-index: 2;
}

#img {
    margin-top: 20px;
    margin-bottom: 60px;
    border: 3px solid var(--neon-color);
    box-shadow: 0 0 2rem var(--neon-color), 0 0 0.8rem var(--neon-color), 0 0 2.8rem var(--neon-color), inset 0 0 1.3rem var(--neon-color);
    border-radius: 12px;
}

.top-media {
    text-align: center;
}

.horizontal {
    width: 60%;
}

.vertical {
    width: 30%;
}