:root {
    --neon-color: #fffa78;
    --background: #222526;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}

.header {
    text-align: center;
    font-size: 120%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

.header h1 {
    margin: 0;
    padding: 0;
}

.header img {
    width: 70%;
}

.header .arrow {
    display: block;
    margin-top: 1.5%;
    text-align: center;
    font-size: 400%;
    cursor: pointer;
}

.shelf {
    display: flex;
    overflow: hidden;
    align-items: center;
}

.media {
    height: 300px;
    transition-duration: .2s;
}

.media:hover {
    border: 2px solid var(--neon-color);
    height: 310px;
    cursor: pointer;
    box-shadow: 0 0 2rem var(--neon-color), 0 0 0.8rem var(--neon-color), 0 0 2.8rem var(--neon-color), inset 0 0 1.3rem var(--neon-color);
    z-index: 2;
}

#img {
    margin-top: 20px;
    margin-bottom: 60px;
    border: 3px solid var(--neon-color);
    box-shadow: 0 0 2rem var(--neon-color), 0 0 0.8rem var(--neon-color), 0 0 2.8rem var(--neon-color), inset 0 0 1.3rem var(--neon-color);
    border-radius: 12px;
}

.top-media {
    text-align: center;
}

.horizontal {
    width: 60%;
}

.vertical {
    width: 30%;
}

.container {
    display: grid;
}